
.navbar_container{
    
}

.navbar-brand{
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
   font-style: oblique;
   font-size: xx-large;
  
}
.body{
background-color: antiquewhite;
}




.contact_header{
    padding-top: 16px;
}


.form-row{
   width: 50%; 
  align-items: center;
  

}

.col{
    
    /* box-sizing: 25%; */

    
}
.text-about p{
    
}

h2{
   font-style: oblique; 
}
.nav-link{
    font-size: large;
}